@charset "UTF-8";
@font-face {
  font-family: 'arranmorechallenge';
  src: url("../font/arranmorechallenge.eot?5115639");
  src: url("../font/arranmorechallenge.eot?5115639#iefix") format("embedded-opentype"), url("../font/arranmorechallenge.woff?5115639") format("woff"), url("../font/arranmorechallenge.ttf?5115639") format("truetype"), url("../font/arranmorechallenge.svg?5115639#arranmorechallenge") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'arranmorechallenge';
    src: url('../font/arranmorechallenge.svg?5115639#arranmorechallenge') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "arranmorechallenge";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook-squared:before {
  content: '\e800'; }

/* '' */
.icon-facebook:before {
  content: '\e801'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\e802'; }

/* '' */
.icon-linkedin:before {
  content: '\e803'; }

/* '' */
.icon-instagramm:before {
  content: '\e804'; }

/* '' */
.icon-gplus:before {
  content: '\e805'; }

/* '' */
.icon-gplus-squared:before {
  content: '\e806'; }

/* '' */
.icon-tumblr:before {
  content: '\e807'; }

/* '' */
.icon-tumblr-squared:before {
  content: '\e808'; }

/* '' */
.icon-youtube-play:before {
  content: '\e809'; }

/* '' */
.icon-youtube:before {
  content: '\e80a'; }

/* '' */
.icon-vimeo-squared:before {
  content: '\e80b'; }

/* '' */
.icon-twitter-squared:before {
  content: '\e80c'; }

/* '' */
.icon-twitter:before {
  content: '\e80d'; }

/* '' */
.icon-pinterest-squared:before {
  content: '\e80e'; }

/* '' */
.icon-pinterest-circled:before {
  content: '\e80f'; }

/* '' */
.icon-github-circled:before {
  content: '\e810'; }

/* '' */
.icon-menu:before {
  content: '\e811'; }

/* '' */
.icon-export:before {
  content: '\e812'; }

/* '' */
.icon-export-alt:before {
  content: '\e813'; }

/* '' */
.icon-info-circled:before {
  content: '\e814'; }

/* '' */
.icon-info:before {
  content: '\e815'; }

/* '' */
.icon-home:before {
  content: '\e816'; }

/* '' */
.icon-angle-double-right:before {
  content: '\e817'; }

/* '' */
.icon-angle-double-left:before {
  content: '\e818'; }

/* '' */
.icon-calendar:before {
  content: '\e819'; }

/* '' */
.icon-camera:before {
  content: '\e81a'; }

/* '' */
.icon-camera-alt:before {
  content: '\e81b'; }

/* '' */
.icon-rss:before {
  content: '\e81c'; }

/* '' */
.icon-rss-squared:before {
  content: '\e81d'; }

/* '' */
.icon-thumbs-up-alt:before {
  content: '\e81e'; }

/* '' */
.icon-thumbs-up:before {
  content: '\e81f'; }

/* '' */
/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */
/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both; }

.grid .unit {
  float: left;
  width: 100%;
  padding: 10px; }

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
/*.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }*/
/* Nested grids already have padding though, so let’s nuke it */
/*.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }*/
.unit .grid:first-child > .unit {
  padding-top: 0; }

.unit .grid:last-child > .unit {
  padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  margin: 0;
  padding: 0 !important; }

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto; }

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole, .grid .w-1-1 {
  width: 100%; }

.grid .half, .grid .w-1-2 {
  width: 50%; }

.grid .one-third, .grid .w-1-3 {
  width: 33.3332%; }

.grid .two-thirds, .grid .w-2-3 {
  width: 66.6665%; }

.grid .one-quarter, .grid .w-1-4 {
  width: 25%; }

.grid .three-quarters, .grid .w-3-4 {
  width: 75%; }

.grid .one-fifth, .grid .w-1-5 {
  width: 20%; }

.grid .two-fifths, .grid .w-2-5 {
  width: 40%; }

.grid .three-fifths, .grid .w-3-5 {
  width: 60%; }

.grid .four-fifths, .grid .w-4-5 {
  width: 80%; }

.grid .golden-small, .grid .w-g-s {
  width: 38.2716%; }

/* Golden section: smaller piece */
.grid .golden-large, .grid .w-g-l {
  width: 61.7283%; }

/* Golden section: larger piece */
.grid .one-sixth, .grid .w-1-6 {
  width: 16.666%; }

/* Clearfix after every .grid */
.grid {
  *zoom: 1; }

.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0; }

.grid:after {
  clear: both; }

/* Utility classes */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hide-until-mobiles {
  display: none !important; }

/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .grid .unit {
    width: 100% !important; }

  .unit .grid .unit {
    padding-left: 5px;
    padding-right: 5px; }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important; }

  .hide-on-mobiles {
    display: none !important; }

  .hide-until-mobiles {
    display: block !important; }

  .remove_margin_mobile {
    margin-bottom: 0px !important; }

  .wrap {
    padding: 5px; } }
/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto; } }
body {
  font-family: "Rambla", sans-serif;
  margin: 0px;
  font-size: 100%;
  font-weight: 300;
  color: #424242;
  background: #DADFE1; }

::selection {
  background: #eea768; }

::-moz-selection {
  background: #eea768; }

a {
  color: #222535;
  text-decoration: none; }

h1, h2, h3 {
  -webkit-margin-before: 0.15em;
  -webkit-margin-after: 0.15em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

h4, h5, h6 {
  font-weight: 550;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

p {
  font-size: 1.1em;
  font-weight: 200;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }
  p.thinner {
    font-size: 1em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }
  p.smaller {
    font-size: 0.92em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.25em; }

.bold_statement {
  text-transform: uppercase;
  letter-spacing: 2px; }

.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px !important; }

.card_noBottom {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.padded_left_right {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.plain {
  background: #F5F5F5;
  color: #424242; }

.primary {
  background: #222535;
  color: #F5F5F5; }

.primary_light {
  background: #e67e22;
  color: #F5F5F5; }

.primary_dull {
  background: #D35400;
  color: #F5F5F5; }

.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

footer {
  background-color: #e67e22;
  color: #F5F5F5;
  font-size: 0.75em;
  padding: 5px 0px;
  bottom: 0px; }
  footer a {
    color: #F5F5F5; }

.share a {
  color: #D35400;
  font-size: 2.5em; }
  .share a.external {
    display: block;
    margin: 5px 0;
    font-size: 1em; }
    .share a.external:hover {
      color: #F5F5F5;
      background-color: #e67e22; }
  .share a i {
    margin: 12px; }

.share_bar {
  margin: 16px 0px; }

.live_share {
  padding: 0px !important; }
  .live_share a {
    font-size: 2em; }

a.facebook {
  color: #3b5998; }
  a.facebook:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
a.twitter {
  color: #00aced; }
  a.twitter:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
a.instagram {
  color: #517fa4; }
  a.instagram:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
a.gplus {
  color: #dd4b39; }
  a.gplus:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.anchor a {
  color: #FFFFFF;
  display: block;
  font-size: 1.25em;
  line-height: 1.25em; }

.arranmore_test {
  text-align: center; }
  .arranmore_test span {
    margin: 5px; }

.list {
  border: 1px dotted rgba(0, 0, 0, 0.3); }

img {
  max-width: 100%; }
  img.logo {
    margin: 10px 0px;
    max-width: 10em; }

figure {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  overflow: hidden; }

@media screen and (max-width: 850px) {
  p {
    font-size: 0.95em; } }
@media screen and (max-width: 568px) {
  .share a {
    font-size: 2em; }
    .share a i {
      margin: 10px; } }
.btn {
  border: none;
  background: none;
  padding: 8px 10px;
  display: inline-block;
  margin: 5px 2px;
  text-decoration: none;
  outline: none;
  position: relative;
  border-radius: 2px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer; }

.btn_margin {
  margin: 2px 1px; }

.btn_no_margin {
  margin: 0px 1px !important; }

.btn_primary {
  background-color: #222535 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #D35400 inset; }
  .btn_primary:hover {
    box-shadow: 0px -4px 0px 0px #D35400 inset; }
  .btn_primary:active {
    background-color: #D35400 !important;
    color: #F5F5F5 !important; }

.btn_primary_dull {
  background-color: #D35400 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #222535 inset; }
  .btn_primary_dull:hover {
    box-shadow: 0px -4px 0px 0px #222535 inset; }
  .btn_primary_dull:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

.btn_primary_light {
  background-color: #e67e22 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #D35400 inset; }
  .btn_primary_light:hover {
    box-shadow: 0px -4px 0px 0px #D35400 inset; }
  .btn_primary_light:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

.btn_remove {
  margin: 0px 0px;
  padding: 5px 8px;
  background-color: #e67e22 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #D35400 inset; }
  .btn_remove:hover {
    box-shadow: 0px -4px 0px 0px #D35400 inset; }
  .btn_remove:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

table {
  text-align: left;
  width: 100%;
  color: #424242;
  border-collapse: collapse;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  table th {
    background-color: #D35400;
    color: #F5F5F5;
    padding: 8px 5px;
    text-transform: uppercase; }
  table tr:nth-child(even) {
    background-color: #eea768; }
  table td {
    padding: 8px 8px;
    width: 25%; }

table.group td:nth-child(2n-1) {
  background-color: #eea768; }
table.group tr:nth-child(even) {
  background-color: #F5F5F5; }

@media screen and (max-width: 420px) {
  table.group {
    font-size: 0.9em; } }
@media screen and (max-width: 320px) {
  table.group {
    font-size: 0.7em; }

  table.game {
    font-size: 0.8em; } }
table.game th {
  text-align: center; }
table.game td:nth-child(1) {
  width: 20%;
  text-align: center; }
table.game td:nth-child(2) {
  text-align: right;
  width: 30%; }
table.game td:nth-child(3) {
  text-align: right;
  width: 10%; }
table.game td:nth-child(4) {
  width: 10%; }
table.game td:nth-child(5) {
  width: 30%; }
table.game tr:hover {
  background-color: #222535;
  color: #FFFFFF; }

table.winners {
  text-align: center; }
  table.winners tr:nth-child(2n+1) {
    background-color: #F5F5F5; }
  table.winners tr:hover {
    background-color: #222535;
    color: #FFFFFF; }
  table.winners th {
    text-align: center; }
  table.winners td:nth-child(1) {
    width: 20%; }
  table.winners td:nth-child(2) {
    width: 40%; }
  table.winners td:nth-child(3) {
    width: 40%; }

nav.desktop {
  background-color: #222535; }
  nav.desktop ul {
    background-color: #222535;
    color: #FFFFFF;
    list-style: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; }
    nav.desktop ul a {
      color: #FFFFFF; }
    nav.desktop ul li {
      color: #FFFFFF;
      display: inline;
      padding: 10px 20px; }
      nav.desktop ul li:hover {
        box-shadow: 0px -5px 0px 0px #e67e22 inset; }
      nav.desktop ul li.active {
        box-shadow: 0px -5px 0px 0px #D35400 inset; }
      nav.desktop ul li:active {
        background-color: #D35400; }

nav.alt {
  background-color: #e67e22; }
  nav.alt ul {
    background-color: #e67e22;
    color: #FFFFFF;
    list-style: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; }
    nav.alt ul a {
      color: #FFFFFF; }
    nav.alt ul li {
      color: #FFFFFF;
      display: inline;
      padding: 10px 20px; }
      nav.alt ul li:hover {
        box-shadow: 0px -5px 0px 0px #D35400 inset; }
      nav.alt ul li.active {
        box-shadow: 0px -5px 0px 0px #D35400 inset; }
      nav.alt ul li:active {
        background-color: #222535; }

form {
  border: 1px dotted rgba(0, 0, 0, 0.3);
  background-color: #eea768;
  margin: 10px; }
  form label {
    display: inline-block;
    margin: 5px 25px;
    width: 100px; }
  form input {
    padding: 5px;
    width: 200px; }
    form input:focus {
      outline: #222535; }
    form input[type="text"] {
      width: 100px; }
  form select {
    padding: 5px;
    width: 150px; }

#lean_overlay {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #424242;
  display: none; }

#thankyou {
  display: none;
  max-width: 800px;
  padding: 20px;
  background-color: #F5F5F5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

#thankyou h2 {
  font-size: 1em; }

#thankyou h3 {
  font-size: 1em; }

#thankyou a {
  color: #F5F5F5;
  background-color: #e67e22;
  padding: 2px;
  margin: 2px; }

.clock {
  background-color: #D35400;
  font-size: 0;
  text-align: center; }

.clock .digit {
  display: inline-block;
  width: 88px;
  margin: 10px;
  transform: skewX(-2deg); }

.clock .digit#digit-2 .cell {
  transition: opacity 50ms ease; }

.clock .digit#digit-3 .cell, .clock .digit#digit-4 .cell, .clock .digit#digit-5 .cell, .clock .digit#digit-6 .cell, .clock .digit#digit-7 .cell, .clock .digit#digit-8 .cell, .clock .digit#digit-9 .cell, .clock .digit#digit-10 .cell, .clock .digit#digit-11 .cell {
  transition: opacity 100ms ease; }

.clock .digit .cell {
  width: 18px;
  height: 18px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  display: inline-block;
  opacity: 0.2; }

.clock .digit .cell.on {
  opacity: 1; }

.clock_text {
  font-size: 1em;
  background-color: #D35400;
  color: rgba(255, 255, 255, 0.85);
  padding: 5px 20px 5px 20px;
  text-align: right; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 968px) {
  .clock {
    padding-top: 10px;
    font-size: 0;
    text-align: center;
    margin-top: 10px; }

  .clock .digit {
    display: inline-block;
    width: 66px;
    margin: 2px;
    transform: skewX(-1deg); }

  .clock .digit .cell {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1px;
    display: inline-block;
    opacity: 0.1; } }
/*MOBILE*/
@media screen and (max-width: 640px) {
  .clock {
    font-size: 0;
    text-align: center;
    margin-top: 10px; }

  .clock .digit {
    display: inline-block;
    width: 42px;
    margin: 0px;
    transform: skewX(-1deg); }

  .clock .digit .cell {
    width: 9px;
    height: 9px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0px;
    display: inline-block;
    opacity: 0.1; } }
/* -------------------------------- 
SIDE PANEL
-------------------------------- */
a.cd-btn {
  position: absolute;
  top: 5px;
  left: 5px; }
  a.cd-btn i {
    font-size: 1.5em; }

.cd-panel::after, .cd-panel::before {
  content: ''; }

.cd-panel {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s; }

.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s; }

.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s; }

.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s; }

.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s; }

.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s; }

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg); } }
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(45deg); } }
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); } }
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg); } }
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(-45deg); } }
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); } }
.cd-panel-container {
  position: fixed;
  z-index: 1000;
  width: 250px;
  height: 100%;
  top: 0;
  background: #F5F5F5;
  color: #D35400;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s; }

@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 250px; } }
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 250px; } }
.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch; }

.cd-panel-content ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
  .cd-panel-content ul a {
    display: block;
    color: #222535; }
    .cd-panel-content ul a:hover {
      background-color: #e67e22; }
      .cd-panel-content ul a:hover li {
        color: #FFFFFF; }
    .cd-panel-content ul a li {
      display: block;
      padding: 1em;
      width: 100%; }
      .cd-panel-content ul a li i {
        font-size: 1em;
        padding-left: 0.5em;
        margin-right: 1em; }

/*# sourceMappingURL=styles.css.map */
