@charset "UTF-8";
@font-face {
  font-family: 'arranmorechallenge';
  src: url("../font/arranmorechallenge.eot?5115639");
  src: url("../font/arranmorechallenge.eot?5115639#iefix") format("embedded-opentype"), url("../font/arranmorechallenge.woff?5115639") format("woff"), url("../font/arranmorechallenge.ttf?5115639") format("truetype"), url("../font/arranmorechallenge.svg?5115639#arranmorechallenge") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'arranmorechallenge';
    src: url('../font/arranmorechallenge.svg?5115639#arranmorechallenge') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "arranmorechallenge";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook-squared:before {
  content: '\e800'; }

/* '' */
.icon-facebook:before {
  content: '\e801'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\e802'; }

/* '' */
.icon-linkedin:before {
  content: '\e803'; }

/* '' */
.icon-instagramm:before {
  content: '\e804'; }

/* '' */
.icon-gplus:before {
  content: '\e805'; }

/* '' */
.icon-gplus-squared:before {
  content: '\e806'; }

/* '' */
.icon-tumblr:before {
  content: '\e807'; }

/* '' */
.icon-tumblr-squared:before {
  content: '\e808'; }

/* '' */
.icon-youtube-play:before {
  content: '\e809'; }

/* '' */
.icon-youtube:before {
  content: '\e80a'; }

/* '' */
.icon-vimeo-squared:before {
  content: '\e80b'; }

/* '' */
.icon-twitter-squared:before {
  content: '\e80c'; }

/* '' */
.icon-twitter:before {
  content: '\e80d'; }

/* '' */
.icon-pinterest-squared:before {
  content: '\e80e'; }

/* '' */
.icon-pinterest-circled:before {
  content: '\e80f'; }

/* '' */
.icon-github-circled:before {
  content: '\e810'; }

/* '' */
.icon-menu:before {
  content: '\e811'; }

/* '' */
.icon-export:before {
  content: '\e812'; }

/* '' */
.icon-export-alt:before {
  content: '\e813'; }

/* '' */
.icon-info-circled:before {
  content: '\e814'; }

/* '' */
.icon-info:before {
  content: '\e815'; }

/* '' */
.icon-home:before {
  content: '\e816'; }

/* '' */
.icon-angle-double-right:before {
  content: '\e817'; }

/* '' */
.icon-angle-double-left:before {
  content: '\e818'; }

/* '' */
.icon-calendar:before {
  content: '\e819'; }

/* '' */
.icon-camera:before {
  content: '\e81a'; }

/* '' */
.icon-camera-alt:before {
  content: '\e81b'; }

/* '' */
.icon-rss:before {
  content: '\e81c'; }

/* '' */
.icon-rss-squared:before {
  content: '\e81d'; }

/* '' */
.icon-thumbs-up-alt:before {
  content: '\e81e'; }

/* '' */
.icon-thumbs-up:before {
  content: '\e81f'; }

/* '' */
/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */
/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both; }

.grid .unit {
  float: left;
  width: 100%;
  padding: 10px; }

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
/*.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }*/
/* Nested grids already have padding though, so let’s nuke it */
/*.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }*/
.unit .grid:first-child > .unit {
  padding-top: 0; }

.unit .grid:last-child > .unit {
  padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important; }

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto; }

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole, .grid .w-1-1 {
  width: 100%; }

.grid .half, .grid .w-1-2 {
  width: 50%; }

.grid .one-third, .grid .w-1-3 {
  width: 33.3332%; }

.grid .two-thirds, .grid .w-2-3 {
  width: 66.6665%; }

.grid .one-quarter, .grid .w-1-4 {
  width: 25%; }

.grid .three-quarters, .grid .w-3-4 {
  width: 75%; }

.grid .one-fifth, .grid .w-1-5 {
  width: 20%; }

.grid .two-fifths, .grid .w-2-5 {
  width: 40%; }

.grid .three-fifths, .grid .w-3-5 {
  width: 60%; }

.grid .four-fifths, .grid .w-4-5 {
  width: 80%; }

.grid .golden-small, .grid .w-g-s {
  width: 38.2716%; }

/* Golden section: smaller piece */
.grid .golden-large, .grid .w-g-l {
  width: 61.7283%; }

/* Golden section: larger piece */
.grid .one-sixth, .grid .w-1-6 {
  width: 16.666%; }

/* Clearfix after every .grid */
.grid {
  *zoom: 1; }

.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0; }

.grid:after {
  clear: both; }

/* Utility classes */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hide-until-mobiles {
  display: none !important; }

/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .grid .unit {
    width: 100% !important; }

  .unit .grid .unit {
    padding-left: 5px;
    padding-right: 5px; }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important; }

  .hide-on-mobiles {
    display: none !important; }

  .hide-until-mobiles {
    display: block !important; }

  .remove_margin_mobile {
    margin-bottom: 0px !important; }

  .wrap {
    padding: 5px; }

  .align-left-mobile {
    text-align: left; } }
/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto; } }
body {
  font-family: "Rambla", sans-serif;
  margin: 0px;
  font-size: 100%;
  font-weight: 300;
  color: #424242;
  background: #DADFE1; }

::selection {
  background: #EEA768; }

::-moz-selection {
  background: #EEA768; }

a {
  color: #222535;
  text-decoration: none; }

h1, h2, h3 {
  -webkit-margin-before: 0.15em;
  -webkit-margin-after: 0.15em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

h4, h5, h6 {
  font-weight: 550;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.styled-select {
  display: inline-block; }

.styled-select select {
  background: #E67E22;
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 2px;
  -webkit-appearance: none; }

p {
  font-size: 1.1em;
  font-weight: 200;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }
  p.thinner {
    font-size: 1em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }
  p.smaller {
    font-size: 0.92em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.25em; }

.bold_statement {
  text-transform: uppercase;
  letter-spacing: 2px; }

.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px !important; }

.card_noBottom {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.padded_left_right {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.plain {
  background: #F5F5F5;
  color: #424242; }

.primary {
  background: #222535;
  color: #F5F5F5; }

.primary_light {
  background: #E67E22;
  color: #F5F5F5; }

.primary_dull {
  background: #D35400;
  color: #F5F5F5; }

.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

footer {
  background-color: #E67E22;
  color: #F5F5F5;
  font-size: 0.75em;
  padding: 5px 0px;
  bottom: 0px; }
  footer a {
    color: #F5F5F5; }

.share a {
  color: #D35400;
  font-size: 2.5em; }
  .share a.external {
    display: block;
    margin: 5px 0;
    font-size: 1em; }
    .share a.external:hover {
      color: #F5F5F5;
      background-color: #E67E22; }
  .share a i {
    margin: 12px; }

.share_bar {
  margin: 16px 0px; }

.live_share {
  padding: 0px !important; }
  .live_share a {
    font-size: 2em; }

a.facebook {
  color: #3b5998; }
  a.facebook:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
a.twitter {
  color: #00aced; }
  a.twitter:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
a.instagram {
  color: #517fa4; }
  a.instagram:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
a.gplus {
  color: #dd4b39; }
  a.gplus:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.anchor a {
  color: #FFFFFF;
  display: block;
  font-size: 1.25em;
  line-height: 1.25em; }

.arranmore_test {
  text-align: center; }
  .arranmore_test span {
    margin: 5px; }

.list {
  border: 1px dotted rgba(0, 0, 0, 0.3); }

img {
  max-width: 100%; }
  img.logo {
    margin: 10px 0px;
    max-width: 10em; }

.twitterImage {
  border: 2px; }

figure {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  overflow: hidden; }

@media screen and (max-width: 850px) {
  p {
    font-size: 0.95em; } }
@media screen and (max-width: 568px) {
  .share a {
    font-size: 2em; }
    .share a i {
      margin: 10px; } }
.twopxpadding {
  padding: 2px 10px !important; }

.live-box {
  font-size: 800px; }

.my-profile-team {
  border: 1px solid #222535;
  width: 75%;
  border-radius: 2px;
  overflow: hidden;
  margin: 10px auto; }

.my-profile-team select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; }

.my-profile-team select:focus {
  outline: none; }

.my-profile-preference {
  margin: 5px auto;
  max-width: 200px;
  text-align: center; }

.messages {
  color: #424242; }

.control {
  font-size: 1em;
  position: relative;
  display: block;
  padding-left: 20px;
  cursor: pointer; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 20px;
  height: 20px;
  background: #EEA768; }

.control--radio .control__indicator {
  border-radius: 2px; }

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #222535; }

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #D35400; }

/* Disabled state */
.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #424242; }

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: ''; }

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block; }

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0; }

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.btn {
  font-family: "Rambla", sans-serif;
  font-size: 1em;
  border: none;
  background: none;
  padding: 8px 10px;
  display: inline-block;
  margin: 5px 2px;
  text-decoration: none;
  outline: none;
  position: relative;
  border-radius: 2px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer; }

.btn_margin {
  margin: 2px 1px; }

.btn_no_margin {
  margin: 0px 1px !important; }

.btn_primary {
  background-color: #222535 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #D35400 inset; }
  .btn_primary:hover {
    box-shadow: 0px -4px 0px 0px #D35400 inset; }
  .btn_primary:active {
    background-color: #D35400 !important;
    color: #F5F5F5 !important; }

.btn_primary_dull {
  background-color: #D35400 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #222535 inset; }
  .btn_primary_dull:hover {
    box-shadow: 0px -4px 0px 0px #222535 inset; }
  .btn_primary_dull:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

.btn_primary_light {
  background-color: #E67E22 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #D35400 inset; }
  .btn_primary_light:hover {
    box-shadow: 0px -4px 0px 0px #D35400 inset; }
  .btn_primary_light:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

.btn_primary_dark {
  background-color: #D35400 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #222535 inset; }
  .btn_primary_dark:hover {
    box-shadow: 0px -4px 0px 0px #222535 inset; }
  .btn_primary_dark:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

.btn_red {
  background-color: #CF000F !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #96281B inset; }
  .btn_red:hover {
    box-shadow: 0px -4px 0px 0px #96281B inset; }
  .btn_red:active {
    background-color: #96281B !important;
    color: #F5F5F5 !important; }

.btn_block {
  display: block;
  max-width: 50%;
  margin: 5px auto; }

.btn_small {
  font-size: 0.75em; }

.btn_remove {
  margin: 0px 0px;
  padding: 5px 8px;
  background-color: #E67E22 !important;
  color: #F5F5F5 !important;
  box-shadow: 0px -2px 0px 0px #D35400 inset; }
  .btn_remove:hover {
    box-shadow: 0px -4px 0px 0px #D35400 inset; }
  .btn_remove:active {
    background-color: #222535 !important;
    color: #F5F5F5 !important; }

table {
  text-align: left;
  width: 100%;
  color: #424242;
  border-collapse: collapse;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  table th {
    background-color: #D35400;
    color: #F5F5F5;
    padding: 8px 5px;
    text-transform: uppercase; }
  table tr:nth-child(even) {
    background-color: #EEA768; }
  table td {
    padding: 8px 8px;
    width: 25%; }

table.group td:nth-child(2n-1) {
  background-color: #EEA768; }
table.group tr:nth-child(even) {
  background-color: #F5F5F5; }

@media screen and (max-width: 420px) {
  table.group {
    font-size: 0.9em; } }
@media screen and (max-width: 320px) {
  table.group {
    font-size: 0.7em; }

  table.game {
    font-size: 0.8em; } }
table.game th {
  text-align: center; }
table.game td:nth-child(1) {
  width: 20%;
  text-align: center; }
table.game td:nth-child(2) {
  text-align: right;
  width: 30%; }
table.game td:nth-child(3) {
  text-align: right;
  width: 10%; }
table.game td:nth-child(4) {
  width: 10%; }
table.game td:nth-child(5) {
  width: 30%; }
table.game tr:hover {
  background-color: #222535;
  color: #FFFFFF; }

table.winners {
  text-align: center; }
  table.winners tr:nth-child(2n+1) {
    background-color: #F5F5F5; }
  table.winners tr:hover {
    background-color: #222535;
    color: #FFFFFF; }
  table.winners th {
    text-align: center; }
  table.winners td:nth-child(1) {
    width: 20%; }
  table.winners td:nth-child(2) {
    width: 40%; }
  table.winners td:nth-child(3) {
    width: 40%; }

nav.desktop {
  background-color: #222535; }
  nav.desktop ul {
    background-color: #222535;
    color: #FFFFFF;
    list-style: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; }
    nav.desktop ul a {
      color: #FFFFFF;
      padding: 10px 20px; }
      nav.desktop ul a:hover {
        box-shadow: 0px -5px 0px 0px #E67E22 inset; }
      nav.desktop ul a.active {
        box-shadow: 0px -5px 0px 0px #D35400 inset; }
      nav.desktop ul a:active {
        background-color: #D35400; }
    nav.desktop ul li {
      color: #FFFFFF;
      display: inline; }

nav.alt {
  background-color: #E67E22; }
  nav.alt ul {
    background-color: #E67E22;
    color: #FFFFFF;
    list-style: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; }
    nav.alt ul a {
      color: #FFFFFF;
      padding: 10px 20px; }
      nav.alt ul a:hover {
        box-shadow: 0px -5px 0px 0px #D35400 inset; }
      nav.alt ul a.active {
        box-shadow: 0px 0px 0px 0px #D35400 inset; }
      nav.alt ul a:active {
        background-color: #222535; }
    nav.alt ul li {
      color: #FFFFFF;
      display: inline; }

form {
  background-color: #EEA768;
  margin: 10px auto;
  padding: 10px;
  max-width: 600px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  form select {
    padding: 5px;
    width: 150px; }

input .status {
  padding: 3px;
  font-size: 1em;
  width: 100%; }

input:focus {
  outline: 0;
  border: 2px solid #EEA768;
  box-shadow: 0 0 3px #EEA768;
  -moz-box-shadow: 0 0 3px #EEA768;
  -webkit-box-shadow: 0 0 3px #EEA768; }

.form-group input.form-control {
  padding: 5px;
  font-size: 1.1em;
  width: 90%; }

.alert {
  padding: 10px;
  background-color: #c0392b;
  color: #ecf0f1; }

input.status-input {
  padding: 8px;
  font-size: 1em;
  width: 100%; }

input.goals {
  padding: 8px;
  width: 35px;
  font-size: 1em; }

#adminButton {
  display: none; }

.btn-no-margin {
  margin: 0px !important; }

.btn-refresh {
  margin: 0px 0px 5px 0px !important;
  padding: 5px 5px !important;
  font-size: 0.75em; }

.card-message {
  padding: 8px;
  width: 66%;
  clear: both; }

.fan {
  background: #EEA768;
  float: right !important; }

.status {
  font-size: 1.2em;
  display: block;
  padding: 5px; }

.status-update {
  background: #DADFE1; }

.status-container {
  /*	padding: 0px 10px 0px 10px !important;*/
  border-radius: 2px;
  background: #DADFE1; }

.my-profile-icon {
  border-radius: 5px;
  background-color: #222535;
  width: 75px;
  height: 75px;
  margin: 10px auto; }

.my-profile-username {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700; }

.my-profile-email {
  font-size: 0.75em; }

.profile-icon {
  border-radius: 2px;
  background-color: #E67E22;
  width: 50px;
  height: 50px;
  float: left; }

.profile-icon-fan {
  border-radius: 2px;
  background-color: #D35400;
  width: 50px;
  height: 50px;
  float: right; }

h3.username {
  display: inline;
  text-transform: uppercase;
  font-size: 0.8em; }

.message-text-admin {
  padding: 1px 5px 1px 65px; }

.message-share-admin {
  text-align: right;
  padding-top: 5px; }

.message-text-fan {
  /*	padding: 1px 65px 1px 5px;
  	display: inline-block;*/ }

.message-share-fan {
  padding-top: 5px; }

.message-timestamp {
  font-size: 0.8em;
  margin-left: 8px;
  margin-right: 8px;
  color: #424242; }

.message-share-button {
  margin: 0px 10px; }

.message-footer {
  clear: both; }

.single-message {
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  font-size: 2em;
  background: #EEA768;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.single-message-user {
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  font-size: 2em; }

.single-message-timestamp {
  text-align: right;
  color: #424242;
  font-size: 0.5em !important; }

.profile-icon-status {
  border-radius: 2px;
  background-color: #222535;
  width: 50px;
  height: 50px;
  display: inline-block; }

.status-user-details {
  display: inline; }

.message-delete-button {
  background-color: #CF000F;
  color: #FFFFFF;
  padding: 3px;
  border-radius: 2px;
  float: right;
  margin: 0px 10px;
  cursor: pointer; }

#lean_overlay {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #424242;
  display: none; }

#thankyou {
  display: none;
  max-width: 800px;
  padding: 20px;
  background-color: #F5F5F5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

#thankyou h2 {
  font-size: 1em; }

#thankyou h3 {
  font-size: 1em; }

#thankyou a {
  color: #F5F5F5;
  background-color: #e67e22;
  padding: 2px;
  margin: 2px; }

body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }
.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-ms-clear {
  display: none; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1;
  left: 50%; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }
@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }
@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }
@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }
@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }
@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }
@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }
@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }
.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }
@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%); } }
@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%); } }
@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%); } }
.clock {
  background-color: #E67E22;
  font-size: 0;
  text-align: center; }

.clock .digit {
  display: inline-block;
  width: 88px;
  margin: 10px;
  transform: skewX(-2deg); }

.clock .digit#digit-2 .cell {
  transition: opacity 50ms ease; }

.clock .digit#digit-3 .cell, .clock .digit#digit-4 .cell, .clock .digit#digit-5 .cell, .clock .digit#digit-6 .cell, .clock .digit#digit-7 .cell, .clock .digit#digit-8 .cell, .clock .digit#digit-9 .cell, .clock .digit#digit-10 .cell, .clock .digit#digit-11 .cell {
  transition: opacity 100ms ease; }

.clock .digit .cell {
  width: 18px;
  height: 18px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  display: inline-block;
  opacity: 0.2; }

.clock .digit .cell.on {
  opacity: 1; }

.clock_text {
  font-size: 1em;
  background-color: #E67E22;
  color: rgba(255, 255, 255, 0.85);
  padding: 5px 20px 5px 20px;
  text-align: right; }

/*MEDIA QUERIES*/
/*TABLET*/
@media screen and (max-width: 968px) {
  .clock {
    padding-top: 10px;
    font-size: 0;
    text-align: center;
    margin-top: 10px; }

  .clock .digit {
    display: inline-block;
    width: 66px;
    margin: 2px;
    transform: skewX(-1deg); }

  .clock .digit .cell {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1px;
    display: inline-block;
    opacity: 0.1; } }
/*MOBILE*/
@media screen and (max-width: 640px) {
  .clock {
    font-size: 0;
    text-align: center;
    margin-top: 10px; }

  .clock .digit {
    display: inline-block;
    width: 42px;
    margin: 0px;
    transform: skewX(-1deg); }

  .clock .digit .cell {
    width: 9px;
    height: 9px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0px;
    display: inline-block;
    opacity: 0.1; } }
/* -------------------------------- 
SIDE PANEL
-------------------------------- */
a.cd-btn {
  position: absolute;
  top: 5px;
  left: 5px; }
  a.cd-btn i {
    font-size: 1.5em; }

.cd-panel::after, .cd-panel::before {
  content: ''; }

.cd-panel {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s; }

.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s; }

.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s; }

.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s; }

.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s; }

.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s; }

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg); } }
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(45deg); } }
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); } }
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg); } }
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(-45deg); } }
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); } }
.cd-panel-container {
  position: fixed;
  z-index: 1000;
  width: 250px;
  height: 100%;
  top: 0;
  background: #F5F5F5;
  color: #D35400;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s; }

@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 250px; } }
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 250px; } }
.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch; }

.cd-panel-content ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
  .cd-panel-content ul a {
    display: block;
    color: #222535; }
    .cd-panel-content ul a:hover {
      background-color: #e67e22; }
      .cd-panel-content ul a:hover li {
        color: #FFFFFF; }
    .cd-panel-content ul a li {
      display: block;
      padding: 1em;
      width: 100%; }
      .cd-panel-content ul a li i {
        font-size: 1em;
        padding-left: 0.5em;
        margin-right: 1em; }

/*# sourceMappingURL=styles.css.map */
