input.status-input {
	padding: 8px;
	font-size: 1em;
	width: 100%;
}

.btn-no-margin {
	margin: 0px !important;
}

.btn-refresh {
	margin: 0px 0px 5px 0px !important;
	padding: 5px 5px !important;
	font-size: 0.75em;
}

.card-message {
	padding: 8px;
	width: 66%;
	clear: both;
}

.admin {

}

.fan {
	background: $primary_lightest;
	float: right !important;
}

.status-update {
	background: $bkg_body;
}

.status-container {
/*	padding: 0px 10px 0px 10px !important;*/
	border-radius: 2px;
	background: $bkg_body;
}

.circle {
	border-radius: 5px;
	background-color: $primary;
	width:50px;
	height: 50px;
	float: left;
}
.circle-fan {
	border-radius: 5px;
	background-color: $primary;
	width:50px;
	height: 50px;
	float: right;
}

h3.username {
	display: inline;
	font-size:1em;
}

.message-text-admin {
	padding: 1px 5px 1px 65px;
}
.message-text-fan {
/*	padding: 1px 65px 1px 5px;
	display: inline-block;*/
}

.message-footer {
	clear:both;
}

input:focus {
	outline: 0;
    border:2px solid $primary_lightest;
    box-shadow:0 0 3px $primary_lightest;
    -moz-box-shadow:0 0 3px $primary_lightest;
    -webkit-box-shadow:0 0 3px $primary_lightest;
}


/*$primary: $primary;
// D91E18
// #CF000F
// // primary 300
// $primary_light: #FF6666;
$primary_light: #a563c1;
$primary_light_alpha: rgba(	165, 99, 193, 1);
$primary_dull: #432051;

$primary_lightest: $primary_lightest;*/