input.status-input {
	padding: 8px;
	font-size: 1em;
	width: 100%;
}

input.goals {
	padding: 8px;
	width: 35px;
	font-size: 1em;
	
}

#adminButton {
	display: none;
}

.btn-no-margin {
	margin: 0px !important;
}

.btn-refresh {
	margin: 0px 0px 5px 0px !important;
	padding: 5px 5px !important;
	font-size: 0.75em;
}

.card-message {
	padding: 8px;
	width: 66%;
	clear: both;
}

.admin {

}

.fan {
	background: $primary_lightest;
	float: right !important;
}

.status {
	font-size: 1.2em;
	display: block;
	padding: 5px;
}

.status-update {
	background: $bkg_body;
}

.status-container {
/*	padding: 0px 10px 0px 10px !important;*/
	border-radius: $border-radius;
	background: $bkg_body;
}

.my-profile-icon {
	border-radius: 5px;
	background-color: $primary;
	width:75px;
	height: 75px;
	margin:10px auto; 
}

.my-profile-username {
	text-transform: uppercase;
	font-size:1.2em;
	font-weight:700;
}
.my-profile-email {
	font-size:0.75em;

}

.profile-icon {
	border-radius: $border-radius;
	background-color: $primary_light;
	width:50px;
	height: 50px;
	float: left;
}

.profile-icon-fan {
	border-radius: $border-radius;
	background-color: $primary_dull;
	width:50px;
	height: 50px;
	float: right;
}


h3.username {
	display: inline;
	text-transform: uppercase;
	font-size:0.8em;
}

.message-text-admin {
	padding: 1px 5px 1px 65px;
}

.message-share-admin {
	text-align: right;
	padding-top: 5px;
}

.message-text-fan {
/*	padding: 1px 65px 1px 5px;
	display: inline-block;*/
}

.message-share-fan {
	padding-top: 5px;
}

.message-timestamp {
	font-size:0.8em;
	margin-left: 8px;
	margin-right: 8px;
	color: $bkg_dark;
}

.message-share-button {
	margin: 0px 10px;
}

.message-footer {
	clear:both;
}


//  STATUS PAGE

.single-message {
	max-width: 500px;
	padding: 10px;
	margin: 10px auto;
	font-size: 2em;
	background: $primary_lightest;
	border-radius: 5px;
	box-shadow: $shadow1
}

.single-message-user {
	max-width: 500px;
	padding: 10px;
	margin: 10px auto;
	font-size: 2em;
}

.single-message-timestamp {
	text-align: right;
	color: $bkg_dark;
	font-size: 0.5em !important;
}


.profile-icon-status {
	border-radius: $border-radius;
	background-color: $primary;
	width:50px;
	height: 50px;
	display: inline-block;
}

.status-user-details {
	display: inline;
}


// PROFILE

.message-delete-button {
	background-color: $red;
	color: $white;
	padding: 3px;
	border-radius: $border-radius;
	float: right;
	margin: 0px 10px;
	cursor: pointer;
}


