form {
	// border: 1px dotted $bkg_overlay;
	background-color: $primary_lightest;
	margin: 10px auto;
	padding: 10px;
	max-width: 600px;
	border-radius: $border-radius;
	box-shadow: $shadow1;
	label {
		// display: inline-block;
		// margin: 5px 25px;
		// width: 100px;
	};
	// input {
	// 	padding: 5px;
	// 	width: 200px;
	// 	&:focus{
	// 		outline: $primary;
	// 	}
	// 	&[type="text"]{
	// 		width: 100px;
	// 	}
	// }
	select {
		padding: 5px;
		width: 150px;
	}
};


input {
	.status {
		padding: 3px;
		font-size: 1em;
		width: 100%;
	}
}


input:focus {
	outline: 0;
    border:2px solid $primary_lightest;
    box-shadow:0 0 3px $primary_lightest;
    -moz-box-shadow:0 0 3px $primary_lightest;
    -webkit-box-shadow:0 0 3px $primary_lightest;
}

// ADMIN FORM

.form-group {
	input.form-control {
		padding: 5px;
		font-size: 1.1em;
		width: 90%;
	}
}

.alert {
	padding:10px;
	background-color: #c0392b;
	color: #ecf0f1;
}