body {
	font-family: "Rambla", sans-serif;
	margin: 0px;
	font-size: 100%;
	font-weight: 300;
	color: $bkg_dark;
	background: $bkg_body;
}

::selection {
  background: $primary_lightest;
  // color: $bkg_light;
}
::-moz-selection {
  background: $primary_lightest;
  // color: $bkg_light;
}

a {
  color: $primary;
  text-decoration: none;
}

h1, h2, h3, {
	-webkit-margin-before: 0.15em;
	-webkit-margin-after: 0.15em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h4, h5, h6 {
	font-weight: 550;
	-webkit-margin-before: 0.1em;
	-webkit-margin-after: 0.1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.styled-select {
	display: inline-block;
}

.styled-select select {
	background: $primary_light;
	color: $white;
	// width: 268px;
	padding: 10px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: $border-radius;
	// height: 34px;
	-webkit-appearance: none;
}

p {
	font-size: 1.1em;
	font-weight: 200;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	&.thinner {
		font-size: 1em;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}
	&.smaller {
		font-size: 0.92em;
	}
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
}

.bold_statement {
	text-transform: uppercase;
	letter-spacing: 2px;
}

// ==========================================
// =========== CARDS ================
// ==========================================

.card {
	border-radius: $border-radius;
	box-shadow: $shadow1;
	margin-bottom: 10px !important;
}

.card_noBottom {
	border-radius: $border-radius;
	box-shadow: $shadow1;
}

.padded_left_right {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.plain {
	background: $bkg_light;
	color: $bkg_dark;
}
.primary {
	background: $primary;
	color: $bkg_light;
}
.primary_light {
	background: $primary_light;
	color: $bkg_light;
}
.primary_dull {
	background: $primary_dull;
	color: $bkg_light;
}

.shadow1 {
	box-shadow: $shadow1;
}

footer {
	background-color: $primary_light;
	color: $bkg_light;
	font-size: 0.75em;
	// margin-top: 10px !important;
	padding: 5px 0px;
	bottom: 0px;
	a {
		color: $bkg_light;
	}
}

// INDEX SPECIFIC

.share {
	a {
		color: $primary_dull;
		font-size: 2.5em;
		&.external {
			display: block;
			margin: 5px 0;
			font-size: 1em;
			&:hover {
			color: $bkg_light;
			background-color: $primary_light;
			}
		}
		i {
			margin: 12px;
		}
	}
};

.share_bar {
	margin: 16px 0px;
};

.live_share {
	padding: 0px !important;
	a {
		font-size: 2em;
	}
};

a {
	&.facebook{
		color: $facebook;
		&:hover {
			text-shadow: $shadow1;
		}
	}
	&.twitter{
		color: $twitter;
		&:hover {
			text-shadow: $shadow1;
		}
	}
	&.instagram{
		color: $instagram;
		&:hover {
			text-shadow: $shadow1;
		}
	}
	&.gplus{
		color: $gplus;
		&:hover {
			text-shadow: $shadow1;
		}
	}
}

// ABOUT SPECIFIC

.anchor {
	a {	
		color: $white;
		display: block;
		font-size: 1.25em;
		line-height: 1.25em;
	}
}

// PHOTOS

.arranmore_test {
	text-align: center;
	span {
		margin: 5px;
	}
}

// ADMIN
.list {
    border: 1px dotted $bkg_overlay;
}

// ==========================================
// =========== IMAGES ================
// ==========================================

img {
	max-width: 100%;
	&.logo {
		margin: 10px 0px;
		max-width: 10em;
	}
}

.twitterImage {
	border: $border-radius;
}

figure {
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	 overflow: hidden;
}


@media screen and (max-width: 850px) {
	p {
		font-size: 0.95em;
	}
}

// ==============================================
// ==================== MOBILE DEVICEs ==========
// ==============================================

@media screen and (max-width: 568px) {
	.share {
		a {
			font-size: 2em;
			i {
				margin: 10px;
			}
		}
	}
}



// ==========================================
// =========== LIVE ================
// ==========================================

.twopxpadding {
	padding: 2px 10px !important;
}

.live-box {
	font-size:800px;
}


.my-profile-team {

}

.my-profile-team {
    border: 1px solid $primary;
    width: 75%;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 10px auto;
}

.my-profile-team select {
	// font-size:0.9em;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.my-profile-team select:focus {
    outline: none;
}

.my-profile-preference {
	margin: 5px auto;
	max-width: 200px;
	text-align: center;
}

.messages {
	color: $bkg_dark;
}


// CHECKBOX
// PREFERENCES


.control {
	font-size: 1em;
	position: relative;
	display: block;
	// margin-bottom: 15px;
	padding-left: 20px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}


.control__indicator {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 20px;
	height: 20px;
	background: $primary_lightest;
}

.control--radio .control__indicator {
	border-radius: $border-radius;
}


/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: $primary;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: $primary_dull;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: $bkg_dark;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

// /* Radio button inner circle */
// .control--radio .control__indicator:after {
// 	top: 7px;
// 	left: 7px;
// 	width: 6px;
// 	height: 6px;
// 	border-radius: 50%;
// 	background: #fff;
// }

// /* Disabled circle colour */
// .control--radio input:disabled ~ .control__indicator:after {
// 	background: #7b7b7b;
// }