<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Arranmore Challenge | Live</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- META DATA -->
    <meta name="author" content="hexa studios" />
    <meta name="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday (JBH) weekend. 16 teams compete over the 2 days for the cup and bragging rights." />
    <meta name="keywords"  content="Arranmore, challenge, football, 7-a-side, arranmorechallenge, jbh, june bank holiday" />
    <meta name="Resource-type" content="Document"/>

    <link rel="icon" type="image/png" href="http://arranmorechallenge.com/assets/img/favicon.png">
    <meta name="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights." />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Arranmore Challenge">
    <meta itemprop="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights.">
    <meta itemprop="image" content="http://arranmorechallenge.com/assets/img/social_media.jpg">
    <meta name="google-site-verification" content="FLNqBMOWXcs1qj-8dwyihr2OOKLJ9uuTyHQimNt_1O0" />
    <!-- Twitter Card data -->
    <!-- TWITTER CARD - SMALL SUMMARY -->
    <!-- <meta name="twitter:card" content="summary"> -->
    <!-- TWITTER CARD - LARGE SUMMARY -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ArranChallenge">
    <meta name="twitter:title" content="Arranmore Challenge">
    <meta name="twitter:description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights.">
    <meta name="twitter:creator" content="@ArranChallenge">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://arranmorechallenge.com/assets/img/social_media.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Arranmore Challenge" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://arranmorechallenge.com/" />
    <meta property="og:image" content="http://arranmorechallenge.com/assets/img/social_media.jpg" />
    <meta property="og:description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights." /> 
    <meta property="og:site_name" content="Arranmore Challenge" />
    <meta property="fb:admins" content="785709651" />

    <!-- LINKED SHEETS -->
    <link href='//fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <meta name="theme-color" content="#432051">
</head>

<body class="wrap">

    <header class="grid unit whole align-center">
        <img src="http://arranmorechallenge.com/assets/img/logo_shadow.png" class="logo">
    </header>

    <!-- NAVIGATION -->
    <nav class="desktop grid card hide-on-mobiles" id="nav_desktop">
        <ul>
            <a href="http://arranmorechallenge.com/"><li>Home</li></a>
            <a href="http://arranmorechallenge.com/about" ><li>About</li></a>
            <a href="http://arranmorechallenge.com/fixtures" ><li>Fixtures</li></a>
            <a href="http://live.arranmorechallenge.com/" class="active"><li>Live</li></a>
            <a href="http://arranmorechallenge.com/twitter"><li>Twitter</li></a>
            <!-- <a href="http://arranmorechallenge.com/photos" ><li>Photos</li></a> -->
        </ul>
    </nav>
    <!-- MOBILE NAVIGATION -->
    <nav class="hide-until-mobiles">
        <a href="#" class="cd-btn"><i class="icon-menu"></i></a>
        <div class="cd-panel from-left">
            <div class="cd-panel-container">
                <div class="cd-panel-content">
                    <ul>
                        <a href="http://arranmorechallenge.com/"><li><i class="icon-home"></i>Home</li></a>
                        <a href="http://arranmorechallenge.com/about"><li><i class="icon-info-circled"></i>About</li></a>
                        <a href="http://arranmorechallenge.com/fixtures"><li><i class="icon-calendar"></i>Fixtures</li></a>
                        <a href="http://live.arranmorechallenge.com/"><li><i class="icon-rss"></i>Live</li></a>
                        <a href="http://arranmorechallenge.com/twitter"><li><i class="icon-rss"></i>Twitter</li></a>
                        <!-- <a href="http://arranmorechallenge.com/photos"><li><i class="icon-camera"></i>Photos</li></a> -->
                    </ul>
                </div> <!-- cd-panel-content -->
            </div> <!-- cd-panel-container -->
        </div> <!-- cd-panel -->
    </nav>

    <div class="grid">
        <section class="unit w-1-4 card plain">
            <div id="sidebar">

                <div class="align-center">
                    <div class="my-profile-icon">
                        <% if (user.twitter.profileImage) { %><img src="<%=user.twitter.profileImage %>" style="margin-top:12px;"/><% } %>
                    </div>

                        <% if (user.twitter.username) { %><a href="/my-profile"><span class="my-profile-username"><%= user.twitter.username %></span></a> <br><% } %>
                        <% if (user.twitter.username) { %><span class="my-profile-email">twitter user</span> <br><% } %>
                        <% if (user.local.username) { %><a href="/my-profile"><span class="my-profile-username"><%= user.local.username %></span></a> <br><% } %>
                        <% if (user.local.email) { %><span class="my-profile-email">email: <%= user.local.email %></span><% } %>

                        <% if (user.admin) { %><a class="btn btn-primary" href="/admin/results">Admin Fixtures / Results</span><% } %>

                        <!-- <div class="my-profile-team">
                            <select id="my-team">
                                <option value="" disabled selected>Choose Your Team:</option>
                                <option value="1">Damo's Dream</option>
                                <option value="2">Stonecutters</option>
                                <option value="3">Northern Tunnelling</option>
                                <option value="4">Finn Harps Youths</option>
                            </select>
                        </div> -->

                        <br>

                        <div class="my-profile-preference">
                            <label class="control control--checkbox">Auto Refresh
                                <input type="checkbox" id="refresh-preference" />
                                <div class="control__indicator"></div>
                            </label>
                        </div>

                        <br />

                        <a href="/logout" class="btn btn_primary_light btn_small">Logout</a>
                </div>

            </div>
        </section>
        <section class="unit w-3-4 card primary_light">
            <div class="unit w-1-1 card plain twopxpadding status-update">
                <div class="unit w-4-5">
                    <input type="textarea" name="statusupdate" id="messageInput" class="status-input" placeholder="What's happening?">
                    <input type="hidden" name="latestID" id="latestMessageTime">
                    <!-- <div class="align-right"><span>1/140</span></div> -->
                </div>
                <div class="unit w-1-5 align-center">
                    <a href="#" class="btn btn_primary btn-no-margin" id="sendMessage">Send >></a>
                </div>
            </div>

            <div class="unit w-1-1 status-container">

            <div class="align-center loading-bar">
                <a id="checkUpdates" class="btn btn_primary_dull btn-refresh">check for updates</a>
            </div>

                <div class="messages" id="messagesContainer">
                    <!-- <div class="align-center">There are no messages at this time.</div> -->
                </div>

                <!-- ADMIN TEMPLATE -->
                <!-- <div class="unit w-2-3 card plain card-message admin" >
                    <div class="profile-icon"></div>
                    <div class="message-text-admin">
                        <a href="/profile/{id}"><h3 class="username">arranchallenge</h3> </a><br>
                        <span class="status">This is the new format for the 2017 live Challenge update</span>
                    </div>
                    <div class="message-share-admin">
                        <span class="message-timestamp">11:07am 15/01</span> <a href="" class="message-share-button"><i class="icon-facebook-official"></i></a> <a href="" class="message-share-button"><i class="icon-twitter"></i></a>  <a href="" class="message-share-button"><i class="icon-link"></i></a> 
                    </div>
                </div> -->

                <!-- FAN TEMPLATE -->
                <!-- <div class="unit w-2-3 card plain card-message fan" >
                    <div class="profile-icon-fan"></div>
                    <div class="message-text-fan">
                        <a href="/profile/{id}"><h3 class="username">mat.loughnane</h3></a> <br>
                        <span class="status">This is the new format for the 2017 live Challenge update</span>
                    </div>
                    <div class="message-share-fan">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//live.arranmorechallenge.com/status/{id}" target="_blank" class="message-share-button"><i class="icon-facebook-official"></i></a> 
                        <a href="https://twitter.com/home?status=http%3A//live.arranmorechallenge.com/status/{id}" target="_blank" class="message-share-button"><i class="icon-twitter"></i></a> 
                        <a href="/status/{id}" target="_blank" class="message-share-button"><i class="icon-link"></i></a>
                        <span class="message-timestamp">11:07am 15/01</span>
                    </div>
                </div> -->

                <div style="clear:both"></div>

                <div class="align-center loading-bar" id="oldestMessageBar">
                    <a id="checkOlderUpdates" class="btn btn_primary btn-refresh">Load Older Messages</a>
                    <input type="hidden" name="oldestID" id="oldestMessageTime">
                </div>

            </div>

        </section>
    </div>

    <footer class="grid align-center shadow1">
         <a id="go" rel="leanModal" name="signup" href="#thankyou"> Thank Yous </a>&middot; Arranmore Challenge v5.0 &middot; <a href="http://hexastudios.co" target="_blank"> by hexa studios </a>
    </footer>

    <div id="thankyou" class="wrap grid whole">
        <button class="btn btn_no_margin btn_primary modal_close pull-right" href="#">close</button>
        <h2>Some People I Need to Thank:</h2>
          <h3>Martin Gallagher</h3> 
            <p>Owns the official Cup challenge twitter handle<a href="https://twitter.com/ArranChallenge" target="_blank">@ArranChallenge</a></p>
          <h3>Rua and the Cup Challenge Committee</h3>
            <p>Provided all the details about the Cup Challenge and it's teams </p>
          <h3>Aoife Gallagher</h3>
            <p>For some great <a href="http://instagram.com/aoifegallagher1992" target="_blank">instagram photos</a> for the <a href="http://arranmorechallenge.com/photos">photo feed</a></p>
          <h3>Dylan O'Donnell</h3>
            <p>For another awesome <a href="https://instagram.com/dylan_m_o_d/" target="_blank">instagram photo</a> for the <a href="http://arranmorechallenge.com/about">about page</a></p>
          <h3>Twitter People</h3>
            <p>For all the people on twitter helping out</p>
    </div>

    <script type="text/javascript">
        var userObj = <%- JSON.stringify(user) %>;
        // console.log(userObj);
    </script>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/sidepanel.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="js/arranmorechallenge.common.js"></script>
    <script type="text/javascript" src="js/arranmorechallenge.live.js"></script>

    <script type="text/javascript">
        $(function() {
            $('a[rel*=leanModal]').leanModal({ top : 0, closeButton: ".modal_close" });   
        });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40992357-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>

