<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Arranmore Challenge | Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- META DATA -->
    <meta name="author" content="hexa studios" />
    <meta name="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday (JBH) weekend. 16 teams compete over the 2 days for the cup and bragging rights." />
    <meta name="keywords"  content="Arranmore, challenge, football, 7-a-side, arranmorechallenge, jbh, june bank holiday" />
    <meta name="Resource-type" content="Document"/>

    <link rel="icon" type="image/png" href="http://arranmorechallenge.com/assets/img/favicon.png">
    <meta name="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Arranmore Challenge">
    <meta itemprop="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights.">
    <meta itemprop="image" content="https://arranmorechallenge.com/assets/img/social_media.jpg">
    <meta name="google-site-verification" content="FLNqBMOWXcs1qj-8dwyihr2OOKLJ9uuTyHQimNt_1O0" />
    <!-- Twitter Card data -->
    <!-- TWITTER CARD - SMALL SUMMARY -->
    <!-- <meta name="twitter:card" content="summary"> -->
    <!-- TWITTER CARD - LARGE SUMMARY -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ArranChallenge">
    <meta name="twitter:title" content="Arranmore Challenge">
    <meta name="twitter:description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights.">
    <meta name="twitter:creator" content="@ArranChallenge">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://arranmorechallenge.com/assets/img/social_media.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Arranmore Challenge" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://arranmorechallenge.com/" />
    <meta property="og:image" content="http://arranmorechallenge.com/assets/img/social_media.jpg" />
    <meta property="og:description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights." /> 
    <meta property="og:site_name" content="Arranmore Challenge" />
    <meta property="fb:admins" content="785709651" />


    <!-- LINKED SHEETS -->
    <link href='//fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <meta name="theme-color" content="#222535">
</head>

<body class="wrap">

    <header class="grid unit whole align-center">
        <img src="http://arranmorechallenge.com/assets/img/logo_shadow.png" class="logo">
    </header>

    <!-- NAVIGATION -->
    <nav class="desktop grid card hide-on-mobiles" id="nav_desktop">
        <ul>
            <a href="http://arranmorechallenge.com/"><li>Home</li></a>
            <a href="http://arranmorechallenge.com/about" ><li>About</li></a>
            <a href="http://arranmorechallenge.com/fixtures" ><li>Fixtures</li></a>
            <a href="http://live.arranmorechallenge.com/" class="active"><li>Live</li></a>
            <a href="http://arranmorechallenge.com/twitter"><li>Live</li></a>
            <!-- <a href="http://arranmorechallenge.com/photos" ><li>Photos</li></a> -->
        </ul>
    </nav>
    <!-- MOBILE NAVIGATION -->
    <nav class="hide-until-mobiles">
        <a href="#" class="cd-btn"><i class="icon-menu"></i></a>
        <div class="cd-panel from-left">
            <div class="cd-panel-container">
                <div class="cd-panel-content">
                    <ul>
                        <a href="http://arranmorechallenge.com/"><li><i class="icon-home"></i>Home</li></a>
                        <a href="http://arranmorechallenge.com/about"><li><i class="icon-info-circled"></i>About</li></a>
                        <a href="http://arranmorechallenge.com/fixtures"><li><i class="icon-calendar"></i>Fixtures</li></a>
                        <a href="http://live.arranmorechallenge.com/"><li><i class="icon-rss"></i>Live</li></a>
                        <a href="http://arranmorechallenge.com/twitter"><li><i class="icon-rss"></i>Twitter</li></a>
                        <!-- <a href="http://arranmorechallenge.com/photos"><li><i class="icon-camera"></i>Photos</li></a> -->
                    </ul>
                </div> <!-- cd-panel-content -->
            </div> <!-- cd-panel-container -->
        </div> <!-- cd-panel -->
    </nav>

    <div class="grid">

    <div class="unit w-1-1 card plain">

        <div class="col-sm-6 col-sm-offset-3">

            <div class="align-center">
                <h1>Login</h1>
            </div>

            <!-- show any messages that come back with authentication -->
            <div class="align-center">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            </div>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="grid form-group">
                    <label>Email</label>
                    <div class="unit w-1-1 align-center align-left-mobile">
                        <input type="text" class="form-control" name="email">
                    </div>
                </div>
                <div class="grid form-group">
                    <label>Password</label>
                    <div class="unit w-1-1 align-center align-left-mobile">
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>

                <div class="align-center">
                    <button type="submit" class="btn btn_primary btn_large">Login</button>
                </div>
            </form>

            <div class="align-center">
                <p>Don't have an account? <a href="/signup">Signup</a></p>
                <p>Or view as a <a href="/">guest</a>.</p>
            </div>

        </div>

    </div>

    <footer class="grid align-center shadow1">
         <a id="go" rel="leanModal" name="signup" href="#thankyou"> Thank Yous </a>&middot; Arranmore Challenge v5.0 &middot; <a href="http://hexastudios.co" target="_blank"> by hexa studios </a>
    </footer>

    <div id="thankyou" class="wrap grid whole">
        <button class="btn btn_no_margin btn_primary modal_close pull-right" href="#">close</button>
        <h2>Some People I Need to Thank:</h2>
          <h3>Martin Gallagher</h3> 
            <p>Owns the official Cup challenge twitter handle<a href="https://twitter.com/ArranChallenge" target="_blank">@ArranChallenge</a></p>
          <h3>Rua and the Cup Challenge Committee</h3>
            <p>Provided all the details about the Cup Challenge and it's teams </p>
          <h3>Aoife Gallagher</h3>
            <p>For some great <a href="http://instagram.com/aoifegallagher1992" target="_blank">instagram photos</a> for the <a href="http://arranmorechallenge.com/photos">photo feed</a></p>
          <h3>Dylan O'Donnell</h3>
            <p>For another awesome <a href="https://instagram.com/dylan_m_o_d/" target="_blank">instagram photo</a> for the <a href="http://arranmorechallenge.com/about">about page</a></p>
          <h3>Twitter People</h3>
            <p>For all the people on twitter helping out</p>
    </div>

    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/sidepanel.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="js/arranmorechallenge.status.js"></script>

    <script type="text/javascript">
        $(function() {
            $('a[rel*=leanModal]').leanModal({ top : 0, closeButton: ".modal_close" });   
        });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40992357-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>

