<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Arranmore Challenge | My Profile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- META DATA -->
    <meta name="author" content="hexa studios" />
    <meta name="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday (JBH) weekend. 16 teams compete over the 2 days for the cup and bragging rights." />
    <meta name="keywords"  content="Arranmore, challenge, football, 7-a-side, arranmorechallenge, jbh, june bank holiday" />
    <meta name="Resource-type" content="Document"/>

    <link rel="icon" type="image/png" href="http://arranmorechallenge.com/assets/img/favicon.png">
    <meta name="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Arranmore Challenge">
    <meta itemprop="description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights.">
    <meta itemprop="image" content="http://arranmorechallenge.com/assets/img/social_media.jpg">
    <meta name="google-site-verification" content="FLNqBMOWXcs1qj-8dwyihr2OOKLJ9uuTyHQimNt_1O0" />
    <!-- Twitter Card data -->
    <!-- TWITTER CARD - SMALL SUMMARY -->
    <!-- <meta name="twitter:card" content="summary"> -->
    <!-- TWITTER CARD - LARGE SUMMARY -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ArranChallenge">
    <meta name="twitter:title" content="Arranmore Challenge">
    <meta name="twitter:description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights.">
    <meta name="twitter:creator" content="@ArranChallenge">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://arranmorechallenge.com/assets/img/social_media.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Arranmore Challenge" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://arranmorechallenge.com/" />
    <meta property="og:image" content="http://arranmorechallenge.com/assets/img/social_media.jpg" />
    <meta property="og:description" content="The Arranmore Challenge is an annual 7-a-side football tournament held every June Bank Holiday weekend. 16 teams compete over the 2 days for the cup and bragging rights." /> 
    <meta property="og:site_name" content="Arranmore Challenge" />
    <meta property="fb:admins" content="785709651" />

    <meta name="theme-color" content="#222535">

    <!-- LINKED SHEETS -->
    <link href='//fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body class="wrap">

    <header class="grid unit whole align-center">
        <img src="http://arranmorechallenge.com/assets/img/logo_shadow.png" class="logo">
    </header>

    <!-- NAVIGATION -->
    <nav class="desktop grid card hide-on-mobiles" id="nav_desktop">
        <ul>
            <a href="//arranmorechallenge.com/"><li>Home</li></a>
            <a href="//arranmorechallenge.com/about" ><li>About</li></a>
            <a href="//arranmorechallenge.com/fixtures" ><li>Fixtures</li></a>
            <a href="//live.arranmorechallenge.com/" class="active"><li>Live</li></a>
            <a href="//arranmorechallenge.com/twitter"><li>Twitter</li></a>
            <!-- <a href="//arranmorechallenge.com/photos" ><li>Photos</li></a> -->
        </ul>
    </nav>
    <!-- MOBILE NAVIGATION -->
    <nav class="hide-until-mobiles">
        <a href="#" class="cd-btn"><i class="icon-menu"></i></a>
        <div class="cd-panel from-left">
            <div class="cd-panel-container">
                <div class="cd-panel-content">
                    <ul>
                        <a href="//arranmorechallenge.com/"><li><i class="icon-home"></i>Home</li></a>
                        <a href="//arranmorechallenge.com/about"><li><i class="icon-info-circled"></i>About</li></a>
                        <a href="//arranmorechallenge.com/fixtures"><li><i class="icon-calendar"></i>Fixtures</li></a>
                        <a href="//live.arranmorechallenge.com/"><li><i class="icon-rss"></i>Live</li></a>
                        <a href="//arranmorechallenge.com/twitter"><li><i class="icon-rss"></i>Twitter</li></a>
                        <!-- <a href="//arranmorechallenge.com/photos"><li><i class="icon-camera"></i>Photos</li></a> -->
                    </ul>
                </div> <!-- cd-panel-content -->
            </div> <!-- cd-panel-container -->
        </div> <!-- cd-panel -->
    </nav>

    <div class="grid">
        <section class="unit w-1-3 card plain">
            <div id="sidebar">

                <div class="align-center">
                    <div class="my-profile-icon">
                        <% if (user.twitter.profileImage) { %><img src="<%=user.twitter.profileImage %>" style="margin-top:12px;"/><% } %>
                    </div>

                        <% if (user.twitter.username) { %><a href="/my-profile"><span class="my-profile-username"><%= user.twitter.username %></span></a> <br><% } %>
                        <% if (user.twitter.username) { %><span class="my-profile-email">twitter user</span> <br><% } %>
                        <% if (user.local.username) { %><a href="/my-profile"><span class="my-profile-username"><%= user.local.username %></span></a> <br><% } %>
                        <% if (user.local.email) { %><span class="my-profile-email">email: <%= user.local.email %></span><% } %>

                        <!-- <div class="my-profile-team">
                            <select id="my-team">
                                <option value="" disabled selected>Choose Your Team:</option>
                                <option value="1">Damo's Dream</option>
                                <option value="2">Stonecutters</option>
                                <option value="3">Northern Tunnelling</option>
                                <option value="4">Finn Harps Youths</option>
                            </select>
                        </div> -->

                        <br>

                        <div class="my-profile-preference">
                            <label class="control control--checkbox">Auto Refresh
                                <input type="checkbox" id="refresh-preference" />
                                <div class="control__indicator"></div>
                            </label>
                        </div>

                        <br />

                        <div id="adminButton">
                            <a class="btn btn_primary" href="/admin">Admin Fixtures / Results</a>
                        </div>

                        <br>

                        <a href="/logout" class="btn btn_primary_light btn_small">Logout</a>
                        <br />
                        <!-- <input type="hidden" id="deleteAccountInput" val="<%= user._id %>" >
                        <button class="btn btn_red btn_small" id="deleteAccount">Delete Account</button> -->
                </div>

            </div>
        </section>

        <section class="unit w-2-3 card primary_light">
            <div class="unit w-1-1 status-container">
                <!-- <h3 class="dark-text">Recent Messages:</h3> -->
                    <div class="messages" id="messagesProfileContainer">
                        <!-- <div class="align-center">There are no messages at this time.</div> -->
                    </div>
            </div>
        </section>

    </div>

    <footer class="grid align-center shadow1">
         <a id="go" rel="leanModal" name="signup" href="#thankyou"> Thank Yous </a>&middot; Arranmore Challenge v5.0 &middot; <a href="http://hexastudios.co" target="_blank"> by hexa studios </a>
    </footer>

    <div id="thankyou" class="wrap grid whole">
        <button class="btn btn_no_margin btn_primary modal_close pull-right" href="#">close</button>
        <h2>Some People I Need to Thank:</h2>
          <h3>Martin Gallagher</h3> 
            <p>Owns the official Cup challenge twitter handle<a href="https://twitter.com/ArranChallenge" target="_blank">@ArranChallenge</a></p>
          <h3>Rua and the Cup Challenge Committee</h3>
            <p>Provided all the details about the Cup Challenge and it's teams </p>
          <h3>Aoife Gallagher</h3>
            <p>For some great <a href="http://instagram.com/aoifegallagher1992" target="_blank">instagram photos</a> for the <a href="http://arranmorechallenge.com/photos">photo feed</a></p>
          <h3>Dylan O'Donnell</h3>
            <p>For another awesome <a href="https://instagram.com/dylan_m_o_d/" target="_blank">instagram photo</a> for the <a href="http://arranmorechallenge.com/about">about page</a></p>
          <h3>Twitter People</h3>
            <p>For all the people on twitter helping out</p>
    </div>

    <script type="text/javascript">
        var userObj = <%- JSON.stringify(user) %>;
    </script>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/sidepanel.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <!-- <script type="text/javascript" src="js/arranmorechallenge.common.js"></script>
    <script type="text/javascript" src="js/arranmorechallenge.live.js"></script> -->
    <script type="text/javascript" src="../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../js/arranmorechallenge.myprofile.js"></script>

    <script type="text/javascript">
        $(function() {
            $('a[rel*=leanModal]').leanModal({ top : 0, closeButton: ".modal_close" });   
        });
    </script>

    <script type="text/javascript">
        if(userObj.admin){
            $("#adminButton").show()
        } else {
            $("#adminButton").hide()
        }
        // console.log(userObj);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40992357-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>



<!-- <!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <% if (user.local) { %>
        
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>
         <% } %>

        
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>username</strong>: <%= user.twitter.username %><br>
                        <strong>displayName</strong>: <%= user.twitter.displayName %>
                    </p>

            </div>
        </div>
        
    </div>

</div>
</body>
</html> -->