
.clock {
  background-color: $primary_dull;
  font-size: 0;
  text-align: center;
}

.clock .digit {
  display: inline-block;
  width: 88px;
  margin: 10px;
  transform: skewX(-2deg);
}
.clock .digit#digit-2 .cell {
  transition: opacity 50ms ease;
}
.clock .digit#digit-3 .cell, .clock .digit#digit-4 .cell, .clock .digit#digit-5 .cell, .clock .digit#digit-6 .cell, .clock .digit#digit-7 .cell, .clock .digit#digit-8 .cell, .clock .digit#digit-9 .cell, .clock .digit#digit-10 .cell, .clock .digit#digit-11 .cell {
  transition: opacity 100ms ease;
}
.clock .digit .cell {
  width: 18px;
  height: 18px;
  margin: 2px;
  background-color: $white_transparent;
  border-radius: 2px;
  display: inline-block;
  opacity: 0.2;
}
.clock .digit .cell.on {
  opacity: 1;
}

.clock_text {
  font-size: 1em;
  background-color: $primary_dull;
  color: $white_transparent;
  padding: 5px 20px 5px 20px;
  text-align: right;
}

/*MEDIA QUERIES*/

/*TABLET*/

@media screen and (max-width: 968px) { 

  .clock {
  padding-top: 10px;
  font-size: 0;
  text-align: center;
  margin-top: 10px;
  }
  .clock .digit {
    display: inline-block;
    width: 66px;
    margin: 2px;
    transform: skewX(-1deg);
  }

  .clock .digit .cell {
  width: 14px;
  height: 14px;
  margin: 1px;
  background-color: $white_transparent;
  border-radius: 1px;
  display: inline-block;
  opacity: 0.1;
  }

}

/*MOBILE*/

@media screen and (max-width: 640px) {

  .clock {
  font-size: 0;
  text-align: center;
  margin-top: 10px;
  }
  .clock .digit {
    display: inline-block;
    width: 42px;
    margin: 0px;
    transform: skewX(-1deg);
  }

  .clock .digit .cell {
  width: 9px;
  height: 9px;
  margin: 0px;
  background-color: $white_transparent;
  border-radius: 0px;
  display: inline-block;
  opacity: 0.1;
  }

}