nav.desktop {
	background-color: $primary;
	ul {
		background-color: $primary;
		color: $white;
		list-style: none;
		margin: 0px;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		a {
			color: $white;
		}
		li {
			color: $white;
			display: inline;
			padding: 10px 20px;
			&:hover {
				box-shadow: 0px -5px 0px 0px $primary_light inset; 
			}
			&.active {
				box-shadow: 0px -5px 0px 0px $primary_dull inset; 
			}
			&:active {
				background-color: $primary_dull;
			}
		}
	}
}

.translate {
	text-transform: uppercase;
	color: $white;
	display: block;
	padding: 5px 20px;
	// margin: 20px;
}


nav.alt {
	background-color: $primary_light;
	ul {
		background-color: $primary_light;
		color: $white;
		list-style: none;
		margin: 0px;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		a {
			color: $white;
		}
		li {			
			color: $white;
			display: inline;
			padding: 10px 20px;
			&:hover {
				box-shadow: 0px -5px 0px 0px $primary_dull inset; 
			}
			&.active {
				box-shadow: 0px -5px 0px 0px $primary_dull inset; 
			}
			&:active {
				background-color: $primary;
			}
		}
	}
}